<html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gorillapaw | Downloads</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css">
    <link rel=”stylesheet” href=”https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css”>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/dowload.css" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- START NAV -->
    <nav class="navbar is-white">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/home">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> </a>
                <div class="navbar-burger burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="admin.html">
            BUDGET SYSTEM
          </a>
                    <a class="navbar-item" href="/download">
            DOWNLOADS
          </a>
                    <a class="navbar-item" href="/tools">
            TOOLS
          </a>

                </div>

            </div>
        </div>
    </nav>
    <!-- END NAV -->
    <div class="container">
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu is-hidden-mobile py-5 px-5">
  
                    <ul class="menu-list">
                        <li><a class="is-active " id="homePage-list" href="./download.html">Search</a></li>

                    </ul>
                    <p class="menu-label">
                        <strong class="bd-name">Software</strong>
                    </p>
                    <ul class="menu-list">
                        <li><a id="revit-list">Revit</a></li>
                        <li><a id="autocad-list">Autocad</a></li>
                        <li><a id="naviswork-list">Naviswork</a></li>
                        <li><a id="recap-list">Recap</a></li>
                        <li><a id="bluebeam-list">Bluebeam</a></li>
                        <li><a id="cloudcompare-list">Cloud Compare</a></li>
                        <li><a id="other-list">Others</a></li>
                    </ul>
                    <p class="menu-label">
                      <strong class="bd-name">Addins</strong>
                    </p>
                    <ul class="menu-list">
                        <li><a id="bimcollaborate-list">Bim collaborate</a></li>
                        <li><a id="bimpro-list">Bim pro</a></li>
                        <li><a id="cordinationissues-list">Cordinates Issues</a></li>
                        <li><a id="diroots-list">Diroots</a></li>
                        <li><a id="stlexporter-list">STL Exporter</a></li>
                        <li><a id="dynamo-list">Dynamo</a></li>
                        <li><a id="bimtrack-list">Bim track</a></li>
                        <li><a id="bimtools-list">Bim Inter. tools</a></li>
                        <li><a id="evolve-list">Evolve</a></li>
                        <li><a id="procore-list">Procore</a></li>
                        <li><a id="pyrevit-list">Pyrevit</a></li>
                        <li><a id="synchro-list">Synchro</a></li>
                        <li><a id="point-list">Point Layout</a></li>
                </ul></aside>
            </div>
            <div class="column is-9">       
                <div class="columns">
                    <div class="hero-body">
                        <div class="container py-5 px-5">
<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<div class="container ">

  <div name="target" id="search-container" class="">
  <div class="columns is-desktop">
    <div class="column"> 
      <div id="tittles" class="column">
        <div class="columns"> <h1 class="title is-1">
              Hello, Voyansier.
          </h1></div>
          
          <div class="columns">   <h2 class="subtitle is-3">
              Here you can search for a software to download!
          </h2></div>
      </div>
    </div>
  </div>
  <div class="columns is-desktop">
    <div class="column" id="searchbar">
      <input type="text" class="input is-large" id="Search" onkeyup="myFunction()" placeholder="Search here" title="Type in a name">
    </div>
  </div>
  <div class="columns is-desktop">
    <div class="column" id="image-search">
      <img id="img-search" src="/img/Search.png" width = "500"  alt="">
    </div>
  </div>

</div>

    <div class="container is-inactive  revit libraries" id="revit-container" name="target" >
        <h1 class="title is-1">Revit</h1>
        <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
            <tr>
              <th>Revit 2018</th>
              <th>Revit 2019</th>
              <th>Revit 2020</th>
              <th>Revit 2021</th>
              <th>Revit 2022</th>
              <th>Revit 2023</th>
            </tr>
            <tr>
                <td>
                    <a href="https://efulfillment.autodesk.com/NET18SWDLD/2018/RVT/89DB791F-E258-4EB0-AB76-DC1C184D93A6/SFX/Revit_2018_G1_Win_64bit_dlm_001_003.sfx.exe">
                      <div style="height:100%;width:100%">
                        Link 1/3
                      </div>
                    </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2019/RVT/8B325A05-E1B5-47F3-B009-F417B08869CA/SFX/Revit_2019_G1_Win_64bit_R1_dlm_001_003.sfx.exe">
                      <div style="height:100%;width:100%">
                        Link 1/3
                      </div>
                    </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2020/RVT/45AD2BD9-8738-40BB-A298-9D6E03CDD6CD/SFX/Revit_2020_G1_Win_64bit_r3_dlm_001_007.sfx.exe">
                        <div style="height:100%;width:100%">
                          Link 1/7
                        </div>
                      </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2021/RVT/AA3C5F33-570B-3989-8542-D5DC0F759221/SFX/Revit_2021_r3_G1_Win_64bit_dlm_001_006.sfx.exe">
                        <div style="height:100%;width:100%">
                          Link 1/6
                        </div>
                      </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2022/RVT/03BD6A4A-C858-3AD2-9353-DF2974C9918B/SFX/Revit_2022_G1_Win_64bit_dlm_001_005.sfx.exe">
                      <div style="height:100%;width:100%">
                        Link 1/5
                      </div>
                    </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2023/RVT/B4E35F04-D559-35E9-AB70-E0131AF7AB5B/SFX/Revit_2023_r1_G1_Win_64bit_dlm_001_005.sfx.exe">
                      <div style="height:100%;width:100%">
                        Link 1/5
                      </div>
                    </a>
                  </td>
            </tr>
            <tr>
                <td>
                    <a href="https://efulfillment.autodesk.com/NET18SWDLD/2018/RVT/89DB791F-E258-4EB0-AB76-DC1C184D93A6/SFX/Revit_2018_G1_Win_64bit_dlm_002_003.sfx.exe">
                      <div style="height:100%;width:100%">
                        Link 2/3
                      </div>
                    </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2019/RVT/8B325A05-E1B5-47F3-B009-F417B08869CA/SFX/Revit_2019_G1_Win_64bit_R1_dlm_002_003.sfx.exe">
                      <div style="height:100%;width:100%">
                        Link 2/3
                      </div>
                    </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2020/RVT/45AD2BD9-8738-40BB-A298-9D6E03CDD6CD/SFX/Revit_2020_G1_Win_64bit_r3_dlm_002_007.sfx.exe">
                        <div style="height:100%;width:100%">
                          Link 2/7
                        </div>
                      </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2021/RVT/AA3C5F33-570B-3989-8542-D5DC0F759221/SFX/Revit_2021_r3_G1_Win_64bit_dlm_002_006.sfx.exe">
                        <div style="height:100%;width:100%">
                          Link 2/6
                        </div>
                      </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2022/RVT/03BD6A4A-C858-3AD2-9353-DF2974C9918B/SFX/Revit_2022_G1_Win_64bit_dlm_002_005.sfx.exe">
                      <div style="height:100%;width:100%">
                        Link 2/5
                      </div>
                    </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2023/RVT/B4E35F04-D559-35E9-AB70-E0131AF7AB5B/SFX/Revit_2023_r1_G1_Win_64bit_dlm_002_005.sfx.exe">
                      <div style="height:100%;width:100%">
                        Link 2/5
                      </div>
                    </a>
                  </td>
                  
            </tr>
            <tr>
                <td>
                    <a href="https://efulfillment.autodesk.com/NET18SWDLD/2018/RVT/89DB791F-E258-4EB0-AB76-DC1C184D93A6/SFX/Revit_2018_G1_Win_64bit_dlm_003_003.sfx.exe">
                      <div style="height:100%;width:100%">
                        Link 3/3
                      </div>
                    </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2019/RVT/8B325A05-E1B5-47F3-B009-F417B08869CA/SFX/Revit_2019_G1_Win_64bit_R1_dlm_003_003.sfx.exe">
                      <div style="height:100%;width:100%">
                        Link 3/3
                      </div>
                    </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2020/RVT/45AD2BD9-8738-40BB-A298-9D6E03CDD6CD/SFX/Revit_2020_G1_Win_64bit_r3_dlm_003_007.sfx.exe">
                        <div style="height:100%;width:100%">
                          Link 3/7
                        </div>
                      </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2021/RVT/AA3C5F33-570B-3989-8542-D5DC0F759221/SFX/Revit_2021_r3_G1_Win_64bit_dlm_003_006.sfx.exe">
                        <div style="height:100%;width:100%">
                          Link 3/6
                        </div>
                      </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2022/RVT/03BD6A4A-C858-3AD2-9353-DF2974C9918B/SFX/Revit_2022_G1_Win_64bit_dlm_003_005.sfx.exe">
                      <div style="height:100%;width:100%">
                        Link 3/5
                      </div>
                    </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2023/RVT/B4E35F04-D559-35E9-AB70-E0131AF7AB5B/SFX/Revit_2023_r1_G1_Win_64bit_dlm_003_005.sfx.exe">
                      <div style="height:100%;width:100%">
                        Link 3/5
                      </div>
                    </a>
                  </td>
            </tr>
            <tr>
                <td></td>
                  <td> </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2020/RVT/45AD2BD9-8738-40BB-A298-9D6E03CDD6CD/SFX/Revit_2020_G1_Win_64bit_r3_dlm_004_007.sfx.exe">
                        <div style="height:100%;width:100%">
                          Link 4/7
                        </div>
                      </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2021/RVT/AA3C5F33-570B-3989-8542-D5DC0F759221/SFX/Revit_2021_r3_G1_Win_64bit_dlm_004_006.sfx.exe">
                        <div style="height:100%;width:100%">
                          Link 4/6
                        </div>
                      </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2022/RVT/03BD6A4A-C858-3AD2-9353-DF2974C9918B/SFX/Revit_2022_G1_Win_64bit_dlm_004_005.sfx.exe">
                      <div style="height:100%;width:100%">
                        Link 4/5
                      </div>
                    </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2023/RVT/B4E35F04-D559-35E9-AB70-E0131AF7AB5B/SFX/Revit_2023_r1_G1_Win_64bit_dlm_004_005.sfx.exe">
                      <div style="height:100%;width:100%">
                        Link 4/5
                      </div>
                    </a>
                  </td>
            </tr>
            <tr>
                <td></td>
                  <td> </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2020/RVT/45AD2BD9-8738-40BB-A298-9D6E03CDD6CD/SFX/Revit_2020_G1_Win_64bit_r3_dlm_005_007.sfx.exe">
                        <div style="height:100%;width:100%">
                          Link 5/7
                        </div>
                      </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2021/RVT/AA3C5F33-570B-3989-8542-D5DC0F759221/SFX/Revit_2021_r3_G1_Win_64bit_dlm_005_006.sfx.exe">
                        <div style="height:100%;width:100%">
                          Link 5/6
                        </div>
                      </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2022/RVT/03BD6A4A-C858-3AD2-9353-DF2974C9918B/SFX/Revit_2022_G1_Win_64bit_dlm_005_005.sfx.exe">
                      <div style="height:100%;width:100%">
                        Link 5/5
                      </div>
                    </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2023/RVT/B4E35F04-D559-35E9-AB70-E0131AF7AB5B/SFX/Revit_2023_r1_G1_Win_64bit_dlm_005_005.sfx.exe">
                      <div style="height:100%;width:100%">
                        Link 5/5
                      </div>
                    </a>
                  </td>
            </tr>
            <tr>
                <td></td>
                  <td> </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2020/RVT/45AD2BD9-8738-40BB-A298-9D6E03CDD6CD/SFX/Revit_2020_G1_Win_64bit_r3_dlm_006_007.sfx.exe">
                        <div style="height:100%;width:100%">
                          Link 6/7
                        </div>
                      </a>
                  </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2021/RVT/AA3C5F33-570B-3989-8542-D5DC0F759221/SFX/Revit_2021_r3_G1_Win_64bit_dlm_006_006.sfx.exe">
                        <div style="height:100%;width:100%">
                          Link 6/6
                        </div>
                      </a>
                  </td>
                  <td> </td>
                  <td> </td>
            </tr>
            <tr>
                <td></td>
                  <td> </td>
                  <td>
                    <a href="https://efulfillment.autodesk.com/NetSWDLD/2020/RVT/45AD2BD9-8738-40BB-A298-9D6E03CDD6CD/SFX/Revit_2020_G1_Win_64bit_r3_dlm_007_007.sfx.exe">
                        <div style="height:100%;width:100%">
                          Link 7/7
                        </div>
                      </a>
                  </td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
            </tr>
            
          </table>







          <h1 class="title">Revit Updates</h1>
          <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
            <tr>
              <th>2019 Updates</th>
              <th>2020 Updates</th>
              <th>2021 Updates</th>
              <th>2022 Updates</th>
              <th>2023 Updates</th>
            </tr>
            <tr>
              <td>
                <a href="https://up.autodesk.com/2019/RVT/9CA05B9A-1909-0510-A1B4-FFF7A680FE55/Autodesk_Revit_2019_2_2.exe">
                    <div style="height:100%;width:100%">
                      2019 2.2
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://up.autodesk.com/2020/RVT/9CA05B9A-2006-0510-A1B4-FFF7A680FE55/Autodesk_Revit_2020_2_1.exe">
                    <div style="height:100%;width:100%">
                      2020 2.1
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://up.autodesk.com/2021/RVT/9CA05B9A-2107-0510-A1B4-FFF7A680FE55/Revit_2021_1_2.exe">
                    <div style="height:100%;width:100%">
                      2021 1.2
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://up.autodesk.com/2022/RVT/4EC6E083-47D8-3656-8D70-72A4CBF2DBFB/Revit_2022_0_1.exe">
                    <div style="height:100%;width:100%">
                      2022 0.1
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://up.autodesk.com/2023/RVT/F1815827-A467-3271-A4D5-4738D8BFA997/RVTCPENU.exe">
                    <div style="height:100%;width:100%">
                      2023 LIBRARIES
                    </div>
                  </a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://up.autodesk.com/2019/RVT/9CA05B9A-1910-0510-A1B4-FFF7A680FE55/Revit_2019_2_3.exe">
                    <div style="height:100%;width:100%">
                      2019 2.3
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://up.autodesk.com/2020/RVT/9CA05B9A-2008-0510-A1B4-FFF7A680FE55/Autodesk_Revit_2020_2_3.exe">
                    <div style="height:100%;width:100%">
                      2020 2.3
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://up.autodesk.com/2021/RVT/9CA05B9A-2109-0510-A1B4-FFF7A680FE55/Revit_2021_1_3.exe">
                    <div style="height:100%;width:100%">
                      2021 1.3
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://efulfillment.autodesk.com/NetSWDLD/2022/RVT/03BD6A4A-C858-3AD2-9353-DF2974C9918B/SFX/Revit_2022_G1_Win_64bit_dlm_003_005.sfx.exe">
                    <div style="height:100%;width:100%">
                      2022 1
                    </div>
                  </a>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <a href="https://up.autodesk.com/2019/RVT/9CA05B9A-1911-0510-A1B4-FFF7A680FE55/Revit_2019_2_4.exe">
                    <div style="height:100%;width:100%">
                      2019 2.4
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://up.autodesk.com/2020/RVT/9CA05B9A-2009-0510-A1B4-FFF7A680FE55/Revit_2020_2_4.exe">
                    <div style="height:100%;width:100%">
                      2020 2.4
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://up.autodesk.com/2021/RVT/9CA05B9A-2110-0510-A1B4-FFF7A680FE55/Revit_2021_1_4.exe">
                    <div style="height:100%;width:100%">
                      2021 1.4
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://up.autodesk.com/2022/RVT/FF243A8C-9E9B-33C4-AD86-F5A5A6A8D1BC/Revit_2022_1_1.exe">
                    <div style="height:100%;width:100%">
                      2022 1.1
                    </div>
                  </a>
              </td>

              <td></td>
            </tr>
            <tr>
              <td>
                <a href="https://up.autodesk.com/2019/RVT/9CA05B9A-1912-0510-A1B4-FFF7A680FE55/Revit_2019_2_5.exe">
                    <div style="height:100%;width:100%">
                      2019 2.5
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://up.autodesk.com/2020/RVT/9CA05B9A-2010-0510-A1B4-FFF7A680FE55/Revit_2020_2_5.exe">
                    <div style="height:100%;width:100%">
                      2020 2.5
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://up.autodesk.com/2021/RVT/9CA05B9A-2111-0510-A1B4-FFF7A680FE55/Revit_2021_1_5.exe">
                    <div style="height:100%;width:100%">
                      2021 1.5
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://up.autodesk.com/2022/RVT/790C3C40-E32A-3979-81CB-AEA5578DD49C/Revit_2022_1_2.exe">
                    <div style="height:100%;width:100%">
                      2022 1.2
                    </div>
                  </a>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <a href="https://drive.google.com/file/d/1VOPRFROjQ7aF3VJlImiwvhrb1LMm3n11/view?usp=sharing">
                    <div style="height:100%;width:100%">
                      2019 2.6
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://up.autodesk.com/2020/RVT/9CA05B9A-2011-0510-A1B4-FFF7A680FE55/Revit_2020_2_6.exe">
                    <div style="height:100%;width:100%">
                      2020 2.6
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://up.autodesk.com/2021/RVT/9CA05B9A-2112-0510-A1B4-FFF7A680FE55/Revit_2021_1_6.exe">
                    <div style="height:100%;width:100%">
                      2021 1.6
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://up.autodesk.com/2022/RVT/53145925-644C-37B7-AE17-96C73062A832//Revit_2022_1_3.exe">
                    <div style="height:100%;width:100%">
                      2022 1.3
                    </div>
                  </a>
              </td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <a href="https://up.autodesk.com/2020/RVT/9CA05B9A-2012-0510-A1B4-FFF7A680FE55/Revit_2020_2_7.exe">
                    <div style="height:100%;width:100%">
                      2020 2.7
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://up.autodesk.com/2021/RVT/9CA05B9A-2113-0510-A1B4-FFF7A680FE55//Revit_2021_1_7.exe">
                    <div style="height:100%;width:100%">
                      2021 1.7
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://up.autodesk.com/2022/RVT/B8322C50-CA90-339E-80AD-A11ABA519F7E/RVTCPENU.exe">
                    <div style="height:100%;width:100%">
                      2022 LIBRARIES
                    </div>
                  </a>
              </td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <a href="https://up.autodesk.com/2020/RVT/9CA05B9A-2014-0510-A1B4-FFF7A680FE55//Revit_2020_2_9.exe">
                    <div style="height:100%;width:100%">
                      2020 2.9
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://knowledge.autodesk.com/support/revit/downloads/caas/downloads/content/autodesk-revit-2021-content.html">
                    <div style="height:100%;width:100%">
                      2021 LIBRARIES
                    </div>
                  </a>
              </td>
              <td></td>
              <td></td>
            </tr>
          </table>


          <h1 class="title">Revit LT</h1>
          <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
            <tr>
              <th>Revit 2019 LT</th>
              <th>Revit 2021 LT</th>
   
            </tr>
            <tr>
              <td>
                <a href="https://efulfillment.autodesk.com/NetSWDLD/2019/RVTLT/A530E9FE-C1E4-4891-83C7-E2E77A707127/SFX/RevitLT_2019_G1_Win_64bit_R1_dlm_001_003.sfx.exe">
                    <div style="height:100%;width:100%">
                      Link 1/3
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://efulfillment.autodesk.com/NetSWDLD/2021/RVTLT/F3235FF6-17F5-47EE-A906-41C699EE74AD/SFX/RevitLT_2021_r1_G1_Win_64bit_dlm_001_003.sfx.exe">
                    <div style="height:100%;width:100%">
                      Link 1/3
                    </div>
                  </a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://efulfillment.autodesk.com/NetSWDLD/2019/RVTLT/A530E9FE-C1E4-4891-83C7-E2E77A707127/SFX/RevitLT_2019_G1_Win_64bit_R1_dlm_002_003.sfx.exe">
                    <div style="height:100%;width:100%">
                      Link 2/3
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://efulfillment.autodesk.com/NetSWDLD/2021/RVTLT/F3235FF6-17F5-47EE-A906-41C699EE74AD/SFX/RevitLT_2021_r1_G1_Win_64bit_dlm_002_003.sfx.exe">
                    <div style="height:100%;width:100%">
                      Link 2/3
                    </div>
                  </a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://efulfillment.autodesk.com/NetSWDLD/2019/RVTLT/A530E9FE-C1E4-4891-83C7-E2E77A707127/SFX/RevitLT_2019_G1_Win_64bit_R1_dlm_003_003.sfx.exe">
                    <div style="height:100%;width:100%">
                      Link 3/3
                    </div>
                  </a>
              </td>
              <td>
                <a href="https://efulfillment.autodesk.com/NetSWDLD/2021/RVTLT/F3235FF6-17F5-47EE-A906-41C699EE74AD/SFX/RevitLT_2021_r1_G1_Win_64bit_dlm_003_003.sfx.exe">
                    <div style="height:100%;width:100%">
                      Link 3/3
                    </div>
                  </a>
              </td>
            </tr>
          </table>


    </div>

    <div class="container is-inactive  autocad civil arch architecture" name="target"  id="autocad-container">
      <h1 class="title is-1">Autocad</h1>
       <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
            <tr>
              <th>Autocad</th>
              <th>Acad Civil 3d 2019</th>
              <th>Acad Civil 3d 2020</th>
              <th>Acad Architecture</th>
            </tr>
            <tr>
              <td>
                <a href="https://efulfillment.autodesk.com/NetSWDLD/2019/ACD/22C837AA-0804-4C32-B5AF-B5A423960410/SFX/Autodesk_AutoCAD_2019_English_Win_64bit_dlm.sfx.exe">
                  <div style="height:100%;width:100%">
                    Autocad 2019
                  </div>
                </a>
              </td>
              <td>
                <a href="https://efulfillment.autodesk.com/NetSWDLD/2019/CIV3D/30B1667D-DDD5-4C61-B1C0-B8D3657F5B70/SFX/Autodesk_Civil3D_2019_English_Win_64bit_dlm_001_002.sfx.exe">
                  <div style="height:100%;width:100%">
                    Link 1/2
                  </div>
                </a>
              </td>
              <td>
                <a href="https://efulfillment.autodesk.com/NetSWDLD/2020/CIV3D/05CC55D9-39BD-4E72-988B-D9303B20AB80/SFX/Autodesk_Civil_3D_2020_English_Win_64bit_dlm_001_002.sfx.exe">
                  <div style="height:100%;width:100%">
                    Link 1/2
                  </div>
                </a>
              </td>
              <td>
                <a href="https://drive.google.com/drive/folders/12hgHwD6jfhIzfL3H0ab_Ik6z2dH-JUAS?usp=sharing">
                  <div style="height:100%;width:100%">
                    Link 2022
                  </div>
                </a>
              </td>
              
            </tr>
            <tr>
              <td>
                <a href="https://efulfillment.autodesk.com/NetSWDLD/2020/ACD/A67710D5-98AE-4DD9-8EBE-2E12D3D0EA96/SFX/AutoCAD_2020_English_win_64bit_r1_dlm.sfx.exe">
                  <div style="height:100%;width:100%">
                    Autocad 2020
                  </div>
                </a>
              </td>
              <td>
                <a href="https://efulfillment.autodesk.com/NetSWDLD/2019/CIV3D/30B1667D-DDD5-4C61-B1C0-B8D3657F5B70/SFX/Autodesk_Civil3D_2019_English_Win_64bit_dlm_002_002.sfx.exe">
                  <div style="height:100%;width:100%">
                    Link 2/2
                  </div>
                </a>
              </td>
              <td>
                <a href="https://efulfillment.autodesk.com/NetSWDLD/2020/CIV3D/05CC55D9-39BD-4E72-988B-D9303B20AB80/SFX/Autodesk_Civil_3D_2020_English_Win_64bit_dlm_002_002.sfx.exe">
                  <div style="height:100%;width:100%">
                    Link 2/2
                  </div>
                </a>
              </td>
              <td></td>
              
            </tr>
            <tr>
              <td>
                <a href="https://efulfillment.autodesk.com/NetSWDLD/2021/ACD/80A03A2D-8FA9-43FD-9B26-1604CAD1D9CF/SFX/AutoCAD_2021_English_Win_64bit_dlm.sfx.exe">
                  <div style="height:100%;width:100%">
                    Autocad 2021
                  </div>
                </a>
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <a href="https://efulfillment.autodesk.com/NetSWDLD/2022/ACD/1E7D4EF7-A28E-3D3E-BA3C-C6FAE4AAB2E0/SFX/AutoCAD_2022_English_Win_64bit_dlm.sfx.exe">
                  <div style="height:100%;width:100%">
                    Autocad 2022
                  </div>
                </a>
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>

          </table>

          <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
               <tr>
                 <th>Acad Mechanical 2018</th>
                 <th>Acad Mechanical 2019</th>
                 <th>Acad Plant 3d 2020</th>
                 <th>Acad Plant 3d</th>
               </tr>
               <tr>
                <td>
                  <a href="https://efulfillment.autodesk.com/NET18SWDLD/2018/AMECH_PP/60918231-48F0-4709-94C3-DFAF19DC6913/SFX/AutoCAD_Mechanical_2018_English_Win_64bit_r1_dlm_001_002.sfx.exe">
                    <div style="height:100%;width:100%">
                      Link 1/2
                    </div>
                  </a>
                </td>
                <td>
                  <a href="https://efulfillment.autodesk.com/NetSWDLD/2019/AMECH_PP/42B8C565-5175-4EC7-B21B-D5142752E5A5/SFX/AutoCAD_Mechanical_2019_English_Win_64bit_dlm.sfx.exe">
                    <div style="height:100%;width:100%">
                      Link 1/1
                    </div>
                  </a>
                </td>
                <td>
                  <a href="https://efulfillment.autodesk.com/NetSWDLD/2020/PLNT3D/1896C40C-5BF8-4FB2-92D2-1F5D732E992A/SFX/AutoCAD_Plant_3D_2020_English_Win_64bit_dlm_001_002.sfx.exe">
                    <div style="height:100%;width:100%">
                      Link 1/2
                    </div>
                  </a>
                </td>
                <td>
                  <a href="https://efulfillment.autodesk.com/NetSWDLD/2020/PLNT3D/1896C40C-5BF8-4FB2-92D2-1F5D732E992A/SFX/AutoCAD_Plant_3D_2020_English_Win_64bit_dlm_001_002.sfx.exe">
                    <div style="height:100%;width:100%">
                      Link 1/2
                    </div>
                  </a>
                </td>
               </tr>
               <tr>
                <td>
                  <a href="https://efulfillment.autodesk.com/NET18SWDLD/2018/AMECH_PP/60918231-48F0-4709-94C3-DFAF19DC6913/SFX/AutoCAD_Mechanical_2018_English_Win_64bit_r1_dlm_002_002.sfx.exe">
                    <div style="height:100%;width:100%">
                      Link 2/2
                    </div>
                  </a>
                </td>

                <td></td>
                    <td>
                      <a href="https://efulfillment.autodesk.com/NetSWDLD/2020/PLNT3D/1896C40C-5BF8-4FB2-92D2-1F5D732E992A/SFX/AutoCAD_Plant_3D_2020_English_Win_64bit_dlm_002_002.sfx.exe">
                        <div style="height:100%;width:100%">
                          Link 2/2
                        </div>
                      </a>
                    </td>
                    <td>
                      <a href="https://efulfillment.autodesk.com/NetSWDLD/2021/PLNT3D/D73C01E5-FA69-4D91-92B9-9BA7A8B4EA68/SFX/AutoCAD_Plant_3D_2021_English_Win_64bit_dlm_002_002.sfx.exe">
                        <div style="height:100%;width:100%">
                          Link 2/2
                        </div>
                      </a>
                    </td>
                </tr>
             </table>
                      
<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
              
    </div>

    <div class="container is-inactive  naviswork" name="target"  id="naviswork-container">
    <h1 class="title is-1">Naviswork</h1>
    <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
      <tr>
        <th>Naviswork 2019</th>
        <th>Naviswork 2020</th>
        <th>Naviswork 2021</th>
        <th>Naviswork 2022</th>
        <th>Naviswork 2023</th>
      </tr>
      <tr>
        <td>
          <a href="https://efulfillment.autodesk.com/NetSWDLD/2019/NAVMAN/9EF86405-F84E-4A9B-B4C9-36529E8C4832/SFX/Autodesk_Navisworks_Manage_2019_Multilingual_Win_64bit_dlm_001_002.sfx.exe">
            <div style="height:100%;width:100%">
              Link 1/2
            </div>
          </a>
        </td>
        <td>
          <a href="https://efulfillment.autodesk.com/NetSWDLD/2020/NAVMAN/89ED309E-DEA4-4070-9CE7-DB285722CD73/SFX/Autodesk_Navisworks_Manage_2020_Multilingual_Win_64bit_dlm_001_002.sfx.exe">
            <div style="height:100%;width:100%">
              Link 1/2
            </div>
          </a>
        </td>
        <td>
          <a href="https://efulfillment.autodesk.com/NetSWDLD/2021/NAVMAN/1C098CC8-132C-489B-AD24-8AB7A70168CB/SFX/Autodesk_Navisworks_Manage_2021_Multilingual_Win_64bit_dlm_001_002.sfx.exe">
            <div style="height:100%;width:100%">
              Link 1/2
            </div>
          </a>
        </td>
        <td>
          <a href="https://efulfillment.autodesk.com/NetSWDLD/2022/NAVMAN/C132C0F6-7203-34CF-B8A4-F5A68F1DD494/SFX/Autodesk_Navisworks_Manage_2022_Win_64bit_dlm_001_002.sfx.exe">
            <div style="height:100%;width:100%">
              Link 1/2
            </div>
          </a>
        </td>
        <td>
          <a href="https://efulfillment.autodesk.com/NetSWDLD/2023/NAVMAN/54026284-5924-352E-895D-2DAE5162F3DE/SFX/Autodesk_Navisworks_Manage_2023_Win_64bit_dlm_001_002.sfx.exe">
            <div style="height:100%;width:100%">
              Link 1/2
            </div>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://efulfillment.autodesk.com/NetSWDLD/2019/NAVMAN/9EF86405-F84E-4A9B-B4C9-36529E8C4832/SFX/Autodesk_Navisworks_Manage_2019_Multilingual_Win_64bit_dlm_002_002.sfx.exe">
            <div style="height:100%;width:100%">
              Link 2/2
            </div>
          </a>
        </td>
        <td>
          <a href="https://efulfillment.autodesk.com/NetSWDLD/2020/NAVMAN/89ED309E-DEA4-4070-9CE7-DB285722CD73/SFX/Autodesk_Navisworks_Manage_2020_Multilingual_Win_64bit_dlm_002_002.sfx.exe">
            <div style="height:100%;width:100%">
              Link 2/2
            </div>
          </a>
        </td>
        <td>
          <a href="https://efulfillment.autodesk.com/NetSWDLD/2021/NAVMAN/1C098CC8-132C-489B-AD24-8AB7A70168CB/SFX/Autodesk_Navisworks_Manage_2021_Multilingual_Win_64bit_dlm_002_002.sfx.exe">
            <div style="height:100%;width:100%">
              Link 2/2
            </div>
          </a>
        </td>
        <td>
          <a href="https://efulfillment.autodesk.com/NetSWDLD/2022/NAVMAN/C132C0F6-7203-34CF-B8A4-F5A68F1DD494/SFX/Autodesk_Navisworks_Manage_2022_Win_64bit_dlm_002_002.sfx.exe">
            <div style="height:100%;width:100%">
              Link 2/2
            </div>
          </a>
        </td>
        <td>
          <a href="https://efulfillment.autodesk.com/NetSWDLD/2023/NAVMAN/54026284-5924-352E-895D-2DAE5162F3DE/SFX/Autodesk_Navisworks_Manage_2023_Win_64bit_dlm_002_002.sfx.exe">
            <div style="height:100%;width:100%">
              Link 1/2
            </div>
          </a>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <a href="https://up.autodesk.com/2021/NAVMAN/FDE13673-11E6-59DF-B825-C7F44FEC432C//NW_NAVMAN_2021_Update4.exe">
            <div style="height:100%;width:100%">
              Update 4
            </div>
          </a>
        </td>
        <td></td>
        <td></td>

      </tr>
    </table>
    
    </div>

    <div class="container is-inactive  recap" name="target"  id="recap-container">
    <h1 class="title is-1">Recap</h1>
    <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
      <tr>
        <th>Recap 2020</th>
        <th>Recap 2021</th>
        <th>Recap 2022</th>
        <th>Recap 2023</th>
      </tr>
      <tr>
        <td>
          <a href="https://efulfillment.autodesk.com/NetSWDLD/2020/RECAP/F1AEDE22-29DB-4BB0-B527-6E52F0CA7497/SFX/Autodesk_ReCap_60121_Multilingual_Win_64bit_dlm.sfx.exe">
            <div style="height:100%;width:100%">
              2020
            </div>
          </a>
        </td>
        <td>
          <a href="https://efulfillment.autodesk.com/NetSWDLD/2021/RECAP/E995B4E8-0532-42BF-B2ED-E8835B3EE620/SFX/ReCap_2021_G1_Win_64bit_dlm.sfx.exe">
            <div style="height:100%;width:100%">
              2021
            </div>
          </a>
        </td>
        <td>
          <a href="https://efulfillment.autodesk.com/NetSWDLD/2022/RECAP/CF66BFA3-1B48-3CB1-9226-FBFA1850C192/SFX/ReCap_2022_G1_Win_64bit_dlm.sfx.exe">
            <div style="height:100%;width:100%">
              2022
            </div>
          </a>
        </td>
        <td>
          <a href="https://efulfillment.autodesk.com/NetSWDLD/2023/RECAP/3FA760E3-728C-32A3-9E90-771725505924/SFX/Autodesk_ReCap_Desktop_23_0_0_258_Photo_23_0_0_216_RC_Multilingual_Win_64bit_dlm.sfx.exe">
            <div style="height:100%;width:100%">
              2023
            </div>
          </a>
        </td>
      </tr>
  
    </table>
   </div>

    <div class="container is-inactive  bluebeam" name="target"  id="bluebeam-container">
      <h1 class="title is-1">Bluebeam</h1>
      <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
        <tr>
          <th>Bluebeam 2015 .6</th>
          <th>Bluebeam 2017</th>
          <th>Bluebeam 2019</th>
        </tr>
        <tr>
          <td>
            <a href="https://downloads.bluebeam.com/software/downloads/2015.6/BbRevu2015.6.exe">
              <div style="height:100%;width:100%">
                2015 .6
              </div>
            </a>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1ESALDO7Dr-oUSVnK_fG3x9KBgYvlZWBV/view?usp=sharing">
              <div style="height:100%;width:100%">
                2017
              </div>
            </a>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1Ak8lbxgTs75NJRoadxml4iRVdS-9j549/view?usp=sharing">
              <div style="height:100%;width:100%">
                2019
              </div>
            </a>
          </td>
        </tr>
      </table>
    </div>

    <div class="container is-inactive  trueview cloud compare 3ds max fabrication sketchup" name="target" id="other-container">
      <h1 class="title is-1">Other software</h1>
      <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
        <tr>
          <th>Trueview</th>
          <th>Cloud compare</th>
          <th>3DS MAX 2021</th>
          <th>Fabrication CAD MEP</th>
          <th>Sketchup</th>

        </tr>
        <tr>
          <td>
            <a href="https://drive.google.com/file/d/10XYcBzVkJMjXKxZqVB02KHz1A5OEFeua/view?usp=sharing">
              <div style="height:100%;width:100%">
               2021
              </div>
            </a>
          </td>
          <td>
            <a href="http://www.cloudcompare.org/release/CloudCompareStereo_v2.9.1_setup_x64.exe">
              <div style="height:100%;width:100%">
                Stereo 2.9.1
              </div>
            </a>
          </td>
          <td>
            <a href="https://efulfillment.autodesk.com/NetSWDLD/2021/3DSMAX/35156605-CE91-4AF6-8207-56211CB30369/SFX/Autodesk_3ds_Max_2021_EFGJKPS_Win_64bit_r2_1_001_004.sfx.exe">
              <div style="height:100%;width:100%">
                1/4
              </div>
            </a>
        </td>
        <td>
          <a href="https://efulfillment.autodesk.com/NetSWDLD/2019/CADMEP/C7E75394-EC8F-4C78-9862-F9A9A66E5D08/SFX/CADMEP_2019_EN_WIN_64BIT_dlm.sfx.exe">
            <div style="height:100%;width:100%">
              2019
            </div>
          </a>
        </td>
        <td>
          <a href="https://drive.google.com/file/d/11T_rKef25u2Q8u4xZdi82ltJ2NlhVKxO/view?usp=sharing">
            <div style="height:100%;width:100%">
              2021
            </div>
          </a>
        </td>
        
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>
            <a href="https://efulfillment.autodesk.com/NetSWDLD/2021/3DSMAX/35156605-CE91-4AF6-8207-56211CB30369/SFX/Autodesk_3ds_Max_2021_EFGJKPS_Win_64bit_r2_1_002_004.sfx.exe">
              <div style="height:100%;width:100%">
                2/4
              </div>
            </a>
          </td>
          <td>
            <a href="https://efulfillment.autodesk.com/NetSWDLD/2020/CADMEP/8AFDA0E0-7E1F-48F8-8134-2203D6E8777C/SFX/CADMEP_2020_EN_WIN_64BIT_R1_dlm.sfx.exe">
              <div style="height:100%;width:100%">
                2020
              </div>
            </a>
          </td>
          <td></td>

        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>
            <a href="https://efulfillment.autodesk.com/NetSWDLD/2021/3DSMAX/35156605-CE91-4AF6-8207-56211CB30369/SFX/Autodesk_3ds_Max_2021_EFGJKPS_Win_64bit_r2_1_003_004.sfx.exe">
              <div style="height:100%;width:100%">
                3/4
              </div>
            </a>
          </td>
          <td></td>
          <td></td>
          
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>
            <a href="https://efulfillment.autodesk.com/NetSWDLD/2021/3DSMAX/35156605-CE91-4AF6-8207-56211CB30369/SFX/Autodesk_3ds_Max_2021_EFGJKPS_Win_64bit_r2_1_004_004.sfx.exe">
              <div style="height:100%;width:100%">
                4/4
              </div>
            </a>
          </td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>

    <div class="container is-inactive " name="target" id="cloudcompare-container">
      <h1 class="title is-1">Cloud compare</h1>
      <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
        <tr>
          <th>Cloud compare</th>
 
        </tr>
        <tr>
          <td>
            <a href="http://www.danielgm.net/cc/release/CloudCompareStereo_v2.13.alpha_setup_x64.exe">
              <div style="height:100%;width:100%">
                v2.13
              </div>
            </a>
          </td>
          </tr>
          <tr>
          <td>
            <a href="http://www.danielgm.net/cc/release/">
              <div style="height:100%;width:100%">
                last version 
              </div>
            </a>
          </td>
        </tr>
      </table>
    </div>

    <div class="container is-inactive " name="target" id="bimcollaborate-container">
      <h1 class="title is-1">Bim collaborate</h1>
      <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
        <tr>
          <th>Bim collaborate</th>

        </tr>
        <tr>
          <td>
            <a href="https://drive.google.com/open?id=1NxfknLY3C5p1rYgrntueIuuOw76tMQ9G&authuser=acapra%40voyansi.com&usp=drive_fs">
              <div style="height:100%;width:100%">
                5.6
              </div>
            </a>
          </td>
        </tr>
      </table>
    </div>

    <div class="container is-inactive " name="target" id="bimpro-container">
      <h1 class="title is-1">Bim pro</h1>
      <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
        <tr>
          <th>Bluebeam 2015 .6</th>
        </tr>
        <tr>
          <td>
            <a href="https://drive.google.com/open?id=1NOKeCyV3-lD5-O3NcywxG17ThAS0KzHa&authuser=acapra%40voyansi.com&usp=drive_fs">
              <div style="height:100%;width:100%">
                2019
              </div>
            </a>
          </td>
        </tr>
          <tr>
          <td>
            <a href="https://drive.google.com/open?id=19bbh_0efv5ZOdANu7uFf86P7I93AzlrQ&authuser=acapra%40voyansi.com&usp=drive_fs">
              <div style="height:100%;width:100%">
                2020
              </div>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://drive.google.com/open?id=1NXkMo8Ut1-dL1ZRdtJAWJt-bOM0dqnGC&authuser=acapra%40voyansi.com&usp=drive_fs">
              <div style="height:100%;width:100%">
                2021
              </div>
            </a>
          </td>
        </tr>
      </table>
    </div>

    <div class="container is-inactive " name="target" id="cordinatesissues-container">
      <h1 class="title is-1">Cloud compare</h1>
      <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
        <tr>
          <th>Bluebeam 2015 .6</th>
          <th>Bluebeam 2017</th>
          <th>Bluebeam 2019</th>
        </tr>
        <tr>
          <td>
            <a href="https://downloads.bluebeam.com/software/downloads/2015.6/BbRevu2015.6.exe">
              <div style="height:100%;width:100%">
                2015 .6
              </div>
            </a>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1ESALDO7Dr-oUSVnK_fG3x9KBgYvlZWBV/view?usp=sharing">
              <div style="height:100%;width:100%">
                2017
              </div>
            </a>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1Ak8lbxgTs75NJRoadxml4iRVdS-9j549/view?usp=sharing">
              <div style="height:100%;width:100%">
                2019
              </div>
            </a>
          </td>
        </tr>
      </table>
    </div>

    <div class="container is-inactive " name="target" id="diroots-container">
      <h1 class="title is-1">Cloud compare</h1>
      <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
        <tr>
          <th>Bluebeam 2015 .6</th>
          <th>Bluebeam 2017</th>
          <th>Bluebeam 2019</th>
        </tr>
        <tr>
          <td>
            <a href="https://downloads.bluebeam.com/software/downloads/2015.6/BbRevu2015.6.exe">
              <div style="height:100%;width:100%">
                2015 .6
              </div>
            </a>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1ESALDO7Dr-oUSVnK_fG3x9KBgYvlZWBV/view?usp=sharing">
              <div style="height:100%;width:100%">
                2017
              </div>
            </a>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1Ak8lbxgTs75NJRoadxml4iRVdS-9j549/view?usp=sharing">
              <div style="height:100%;width:100%">
                2019
              </div>
            </a>
          </td>
        </tr>
      </table>
    </div>
    
    <div class="container is-inactive " name="target" id="stlexporter-container">
      <h1 class="title is-1">Cloud compare</h1>
      <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
        <tr>
          <th>Bluebeam 2015 .6</th>
          <th>Bluebeam 2017</th>
          <th>Bluebeam 2019</th>
        </tr>
        <tr>
          <td>
            <a href="https://downloads.bluebeam.com/software/downloads/2015.6/BbRevu2015.6.exe">
              <div style="height:100%;width:100%">
                2015 .6
              </div>
            </a>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1ESALDO7Dr-oUSVnK_fG3x9KBgYvlZWBV/view?usp=sharing">
              <div style="height:100%;width:100%">
                2017
              </div>
            </a>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1Ak8lbxgTs75NJRoadxml4iRVdS-9j549/view?usp=sharing">
              <div style="height:100%;width:100%">
                2019
              </div>
            </a>
          </td>
        </tr>
      </table>
    </div>
    
    <div class="container is-inactive " name="target" id="dynamo-container">
      <h1 class="title is-1">Dynamo</h1>
      <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
        <tr>
          <th>Dynamo</th>
        </tr>
        <tr>
          <td>
            <a href="https://drive.google.com/open?id=1LPkam41QgUjKtLDmXGO_HUeYsV47Tjai&authuser=acapra%40voyansi.com&usp=drive_fs">
              <div style="height:100%;width:100%">
                1.3.4
              </div>
            </a>
          </td>
        </tr>
          <tr>
          <td>
            <a href="https://drive.google.com/open?id=1LaS4zTUrmbVsfnN7pYWsw8RfG-74YbZ0&authuser=acapra%40voyansi.com&usp=drive_fs">
              <div style="height:100%;width:100%">
                2.0.3
              </div>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://drive.google.com/file/d/1LDoa2uZFIcpqrspNFh4OzvYdh4IATTpQ/view?usp=sharing">
              <div style="height:100%;width:100%">
                2.0.4
              </div>
            </a>
          </td>
        </tr>
      </table>
    </div>
    
    <div class="container is-inactive " name="target" id="bimtrack-container">
      <h1 class="title is-1">Cloud compare</h1>
      <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
        <tr>
          <th>Bluebeam 2015 .6</th>
          <th>Bluebeam 2017</th>
          <th>Bluebeam 2019</th>
        </tr>
        <tr>
          <td>
            <a href="https://downloads.bluebeam.com/software/downloads/2015.6/BbRevu2015.6.exe">
              <div style="height:100%;width:100%">
                2015 .6
              </div>
            </a>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1ESALDO7Dr-oUSVnK_fG3x9KBgYvlZWBV/view?usp=sharing">
              <div style="height:100%;width:100%">
                2017
              </div>
            </a>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1Ak8lbxgTs75NJRoadxml4iRVdS-9j549/view?usp=sharing">
              <div style="height:100%;width:100%">
                2019
              </div>
            </a>
          </td>
        </tr>
      </table>
    </div>

    <div class="container is-inactive " name="target" id="bimtools-container">
      <h1 class="title is-1">Cloud compare</h1>
      <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
        <tr>
          <th>Bluebeam 2015 .6</th>
          <th>Bluebeam 2017</th>
          <th>Bluebeam 2019</th>
        </tr>
        <tr>
          <td>
            <a href="https://downloads.bluebeam.com/software/downloads/2015.6/BbRevu2015.6.exe">
              <div style="height:100%;width:100%">
                2015 .6
              </div>
            </a>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1ESALDO7Dr-oUSVnK_fG3x9KBgYvlZWBV/view?usp=sharing">
              <div style="height:100%;width:100%">
                2017
              </div>
            </a>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1Ak8lbxgTs75NJRoadxml4iRVdS-9j549/view?usp=sharing">
              <div style="height:100%;width:100%">
                2019
              </div>
            </a>
          </td>
        </tr>
      </table>
    </div>
 
    <div class="container is-inactive " name="target" id="bimintertools-container">
      <h1 class="title is-1">Cloud compare</h1>
      <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
        <tr>
          <th>Bluebeam 2015 .6</th>
          <th>Bluebeam 2017</th>
          <th>Bluebeam 2019</th>
        </tr>
        <tr>
          <td>
            <a href="https://downloads.bluebeam.com/software/downloads/2015.6/BbRevu2015.6.exe">
              <div style="height:100%;width:100%">
                2015 .6
              </div>
            </a>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1ESALDO7Dr-oUSVnK_fG3x9KBgYvlZWBV/view?usp=sharing">
              <div style="height:100%;width:100%">
                2017
              </div>
            </a>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1Ak8lbxgTs75NJRoadxml4iRVdS-9j549/view?usp=sharing">
              <div style="height:100%;width:100%">
                2019
              </div>
            </a>
          </td>
        </tr>
      </table>
    </div>

    <div class="container is-inactive " name="target" id="evolve-container">
      <h1 class="title is-1">Evolve</h1>
      <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
        <tr>
          <th>Evolve</th>

        </tr>
        <tr>
          <td>
            <a href="https://drive.google.com/open?id=148fuN1PKRnvdcrEupj8XQp0eBoTmdg1o&authuser=acapra%40voyansi.com&usp=drive_fs">
              <div style="height:100%;width:100%">
                Evolve for revit 2019
              </div>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href=https://evolvemep.com/install/software-download/eVolveMechanicalForRevit-2020.zip">
              <div style="height:100%;width:100%">
                Evolve for revit 2020 
              </div>
            </a>
          </td>
        </tr>
      </tr>
      <tr>
        <td>
          <a href=https://evolvemep.com/install/software-download/eVolveMechanicalForRevit-2021.zip">
            <div style="height:100%;width:100%">
              Evolve for revit 2021 
            </div>
          </a>
        </td>
      </tr>
    </tr>
    <tr>
      <td>
        <a href=https://evolvemep.com/install/software-download/eVolveMechanicalForRevit-2022.zip">
          <div style="height:100%;width:100%">
            Evolve for revit 2022
          </div>
        </a>
      </td>
    </tr>
  </tr>
  <tr>
    <td>
      <a href=https://evolvemep.com/install/software-download/eVolveMechanicalForRevit-2023.zip">
        <div style="height:100%;width:100%">
          Evolve for revit 2023
        </div>
      </a>
    </td>
  </tr>
        <tr>
          <td>
            <a href=https://www.evolvemep.com/downloads/">
              <div style="height:100%;width:100%">
                Official page 
              </div>
            </a>
          </td>
        </tr>
      </table>
    </div>
    
    <div class="container is-inactive " name="target" id="procore-container">
      <h1 class="title is-1">Cloud compare</h1>
      <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
        <tr>
          <th>Bluebeam 2015 .6</th>
          <th>Bluebeam 2017</th>
          <th>Bluebeam 2019</th>
        </tr>
        <tr>
          <td>
            <a href="https://downloads.bluebeam.com/software/downloads/2015.6/BbRevu2015.6.exe">
              <div style="height:100%;width:100%">
                2015 .6
              </div>
            </a>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1ESALDO7Dr-oUSVnK_fG3x9KBgYvlZWBV/view?usp=sharing">
              <div style="height:100%;width:100%">
                2017
              </div>
            </a>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1Ak8lbxgTs75NJRoadxml4iRVdS-9j549/view?usp=sharing">
              <div style="height:100%;width:100%">
                2019
              </div>
            </a>
          </td>
        </tr>
      </table>
    </div>
    
    <div class="container is-inactive " name="target" id="pyrevit-container">
      <h1 class="title is-1">Pyrevit</h1>
      <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
        <tr>
          <th>Pyrevit</th>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/eirannejad/pyRevit/releases/download/v4.8.10.22040%2B1743/pyRevit_4.8.10.22040_signed.exe">
              <div style="height:100%;width:100%">
                Link 4.8.10
              </div>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/eirannejad/pyRevit/releases/">
              <div style="height:100%;width:100%">
                Last update
              </div>
            </a>
          </td>
        </tr>
      </table>
    </div>
    
    <div class="container is-inactive " name="target" id="synchro-container">
      <h1 class="title is-1">Cloud compare</h1>
      <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
        <tr>
          <th>Bluebeam 2015 .6</th>
          <th>Bluebeam 2017</th>
          <th>Bluebeam 2019</th>
        </tr>
        <tr>
          <td>
            <a href="https://downloads.bluebeam.com/software/downloads/2015.6/BbRevu2015.6.exe">
              <div style="height:100%;width:100%">
                2015 .6
              </div>
            </a>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1ESALDO7Dr-oUSVnK_fG3x9KBgYvlZWBV/view?usp=sharing">
              <div style="height:100%;width:100%">
                2017
              </div>
            </a>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1Ak8lbxgTs75NJRoadxml4iRVdS-9j549/view?usp=sharing">
              <div style="height:100%;width:100%">
                2019
              </div>
            </a>
          </td>
        </tr>
      </table>
    </div>
    
    <div class="container is-inactive " name="target" id="cordinationissues-container">
      <h1 class="title is-1">Cordination Issues</h1>
      <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
        <tr>
          <th>Cordination Issues</th>
        </tr>
        <tr>
          <td>
            <a href="https://drive.google.com/open?id=1NJaa6UkYIHebJpI7VTXZeXA3Qckzpjbv&authuser=acapra%40voyansi.com&usp=drive_fs">
              <div style="height:100%;width:100%">
                Link
              </div>
            </a>
          </td>
        </tr>
      </table>
    </div>

    
    <div class="container is-inactive " name="target" id="point-container">
      <h1 class="title is-1">Cloud compare</h1>
      <table class="table table is-striped table is-bordered table is-narrow table is-hoverable table is-fullwidth">
        <tr>
          <th>Bluebeam 2015 .6</th>
          <th>Bluebeam 2017</th>
          <th>Bluebeam 2019</th>
        </tr>
        <tr>
          <td>
            <a href="https://downloads.bluebeam.com/software/downloads/2015.6/BbRevu2015.6.exe">
              <div style="height:100%;width:100%">
                2015 .6
              </div>
            </a>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1ESALDO7Dr-oUSVnK_fG3x9KBgYvlZWBV/view?usp=sharing">
              <div style="height:100%;width:100%">
                2017
              </div>
            </a>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1Ak8lbxgTs75NJRoadxml4iRVdS-9j549/view?usp=sharing">
              <div style="height:100%;width:100%">
                2019
              </div>
            </a>
          </td>
        </tr>
      </table>
    </div>



                </div>

            </div>

        </div>
        
    </div>

    <script async="" type="text/javascript" src="/js/bulma.js"></script>
    <script  src="/js/download.js"></script>


</body>
</html>