<html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gorillapaw</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/dowload.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>

    <!-- START NAV -->
    <nav class="navbar is-white">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/home">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> </a>
                <div class="navbar-burger burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/budgetsystem">

                        BUDGET SYSTEM
                    </a>
                              <a class="navbar-item" href="/download">
                      DOWNLOADS
                    </a>
                              <a class="navbar-item" href="/tools">
                      TOOLS
          </a>
          <a class="navbar-item" href="/documentation">
            DOCUMENTATION
          </a>

                </div>

            </div>
        </div>
    </nav>
    <!-- END NAV -->
    <div class="container">
        <div class="columns">
            <div class="column is-2 ">
                <aside class="menu is-hidden-mobile py-5 px-5">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a href="/tools">Signature</a></li>
                        <li><a>Wallpaper</a></li>
                        <li><a class="is-active" href="/guides">Guides</a></li>
                    </ul>
                  </aside>
            </div>
            <div class="column is-9">       
                <div class="columns">
                    <div class="hero-body">

                
                        <div class="columns is-mobile is-centered""><h1 class="title">Guides</h1></div>

                                <input type="text" id="input-guides" class="inputSearch input is-large" onkeyup='tableSearch()' placeholder="Search">
                                <div class="columns">
                                <div class="column is-4">
                                    <table class="table mt-6" id="table-guides" data-filter-control="true" data-show-search-clear-button="true">
                                    <tr>
                                        <th>Guides:</th>
                                    </tr>
                                    <tr><td><a href="guides/discord">Install discord</a></td></tr>     
                                    <tr><td><a href="guides/diskremap">Map production disk</a></td></tr>  
                                    <tr><td><a href="guides/drive">Map disk G - Drive</a></td></tr>  
                                    </table>
                                </div>
                                <div class="column is-6  mt-6 ml-6">  
                                    <img id="img-search" src="/img/Search.png" width = "500"  alt="">
                                </div>
                            </div>
                        
                  
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script async="" type="text/javascript" src="/js/bulma.js"></script>


    <script  src="/js/guides.js"></script>

</body></html>