<html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gorillapaw | Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>

    <!-- START NAV -->
    <nav class="navbar is-white">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/home">
                  <img src="/img/isologo-GP-800px.png" > </a>
                  <div class="navbar-burger burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                  <a class="navbar-item" href="/automation">
                    AUTOMATION
                </a>
                    <a class="navbar-item" href="/software">
                      SOFTWARE
                    </a>
                    <a class="navbar-item" href="/addins">
                        ADDINS
                      </a>
                      <a class="navbar-item" href="/families">
                        FAMILIES
                      </a>
                              <a class="navbar-item" href="/tools">
                      TOOLS
          </a>
          <a class="navbar-item" href="/documentation">
            DOCUMENTATION
          </a>

                </div>

            </div>
        </div>
    </nav>
    <!-- END NAV -->

    <div class="container is-widescreen">
 
   
          
            <div class="notification is-warning">
                <button class="delete"></button>
                <p class="bd-notification is-primary has-text-centered">
                Ten en cuenta que esta plataforma todavia esta en desarrollo , cualquier error que encuentres envia un mail a <span class="tag is-primary is-medium">support@voyansi.com</span></p>
              </div>


<div class="container">
<div class="columns">
  <div class="column is-6" id="parent-login">
   
      <div id="login-form">
        <h1 class="title is-1 has-text-centered">Welcome </h1>
        <h1 class="title is-2 has-text-centered"><%= username %>  <%= lastname %></h1>
   

      
        
    </div>
  </div>
  <div class="column is-5 ">
    <img src="/img/logoGP.png" > 
  </div>

</div>

             

              
          
    </div>

</body>

  <script async="" type="text/javascript" src="/js/bulma.js"></script>
  </html>