#sign-ready{
    visibility: hidden;
}
#respText{
    visibility: hidden;
}
#image-search{
    display: flex;
    flex-direction: row-reverse;
}

#pronoum-signature{
color: rgba(173, 173, 173, 0.925);
}
